@import "../../styles/variables";

.loader {
  position: relative;

  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  width: 80%;
  height: 50%;
  background-color: $light-additional-background-color-opacity90;
  border-radius: 20px;

  @media screen and (min-width: $tablet-breakpoint) {
    width: 560px;
    height: 360px;
    margin-top: 70px;
  }

  .loader-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 333;

    width: 150px;
    height: 150px;
  }
}
