@import "../../styles/variables";
@import "../../styles/styles.scss";

.container {
    width: 100%;
    height: 650px;
    align-content: space-around;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-board {
    align-self: center;
    max-width: 1080px;
    height: 420px;
    background-color: $light-background-color;
    border-radius: 20px;
}

.main-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $light-text-color;
    font-size: 20px;
}

.main-info__title-container {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 80% 20%;
    align-content: center;
    justify-items: flex-end;
    background-color: $light-additional-background-color;
    border-radius: 20px 20px 0px 0px;
}

.main-info__title {
    font-size: 50px;
    font-weight: 500;
}

.main-info__title-favorit {
    font-size: 50px;
    padding-right: 30px;
}

.main-info__values-container {
    width: 100%;
    height: 80%;
    display: flex;
}

.values-column-list {
    min-width: 180px;
    display: grid;
    grid-template-rows: 12.25% 87.5%;
    text-align: center;
}

.values-column {
    width: 15%;
    display: grid;
    grid-template-rows: 12% 88%;
    text-align: center;
    border: 1px solid $light-additional-text-color;    
}

.values-column__title {
    justify-content: center;
    align-self: center;
    font-size: 30px;
    font-weight: 400;
}

.values-column__values {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;
    background-color: $light-additional-background-color;
    border-top: 1px solid $light-additional-text-color;
}
.values-column__values:last-child {
    border-radius: 0px 0px 20px 0px;
}

.values-column__values-cheked {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.values-column__subcolumn {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
}

.values-column-cheked {
    width: 40%;
    border: 1px solid $light-additional-text-color;
}

.values-column__title-list {
    border-bottom: 1px solid $light-additional-text-color;
    border-top: 1px solid $light-additional-text-color;
}

.values-column__values-list {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 0px 0px 0px 20px;
    text-align: left;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 500;
}

.icon-weather {
    align-self: flex-end;
    justify-self: center;
}

.favorite-icon {
    fill: $light-text-color;
}

.day-forecast {
    width: 220px;
    height: 35px;
    border: none;
    background-color: white;
    box-shadow: 0 4px 5px rgb(0 0 0 / 25%);
    color: $light-text-color;
    border-radius: 50px;
    font-size: 20px;
}

.buttons {
    margin: 0 auto;
    padding-top: 30px;
}

.mobile {
    display: none;
}

@media screen and (max-width: 900px) {

    .mobile {
        display: inline-block;
    }
    
    .main-info__values-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .main-info__title {
        font-size: 30px;
        font-weight: 500;
        padding-left: 15px;
    }

    .main-info__title-container {
        height: 110px;
        border-bottom: 1px solid $light-additional-text-color;
    }
    
    .main-info__title-favorit {
        font-size: 50px;
        padding-right: 15px;
    }

    .values-column-list {
        display: none;
    }

    .values-column {
        width: 100%;
        height: 50px;
        display: flex;
        border: none;
        border-bottom: 1px solid $light-text-color;
        background-color: $light-background-color;
    }

    .values-column:last-child {
        border: none;
    }
    
    .values-column__title {
        justify-self: center;
        align-self: center;
        font-size: 24px;
        width: 25%;
        background-color: $light-background-color;
        border: none;
    }

    .values-column__values {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $light-background-color;
        border: none;
    }

    .feels {
        display: none;
    }

    .humidity {
        display: none;
    }

    .wind {
        display: none;
    }

    .icon-weather {
        align-self: center;
        justify-self: center;
        width: 40px;
        height: 40px;
    }

    .press {
        font-size: 20px;
    }

    .container {
        height: 700px;
        padding: 10px;
    }
    
    .main-board {
        margin-top: 50px;
        height: 700px;
    }

    .values-column-cheked {
        width: 100%;
        border: none;
        padding: 10px 0px;
    }
}
