@import "../../styles/variables";
@import "../../styles/button";
@import "../../styles/styles.scss";

.landing-page {
  color: $light-text-color;

  .main-board {
    .main-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      place-content: center;

      .location {
        font-weight: 400;
        text-align: -webkit-center;
      }

      .weather {
        display: flex;
        flex-direction: row;

        .degrees {
          font-weight: 400;
          font-size: 40px;
          align-self: center;
        }
      }
    }
  }

  .buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }

  @media screen and (max-width: $before-tablet-breakpoint) {
    .main-board {
      height: 250px;
      width: 350px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 190px;
      background-color: $light-background-color;
      border-radius: 20px;

      .main-info {
        padding: 40px;
        .location {
          font-size: 2rem;
          line-height: 43px;
          @media screen and (max-width: $mobile-breakpoint) {
            text-align: center;
          }
        }
        .date {
          font-size: 20px;
          line-height: 24px;
          margin-top: 17px;
        }
        .icon-weather {
          width: 89px;
        }
      }
    }
    .buttons {
      margin-top: 33px;
      width: 390px;
      font-size: 18px;
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    .main-board {
      height: 361px;
      width: 561px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 70px;
      background-color: $light-background-color;
      border-radius: 20px;
      .location {
        font-size: 50px;
        line-height: 61px;
      }
      .date {
        font-size: 25px;
        line-height: 30px;
        margin-top: 17px;
      }
      .icon-weather {
        width: 134px;
      }
    }
    .buttons {
      margin-top: 45px;
      width: 561px;
    }
  }
}
@media screen and (min-width: $before-tablet-breakpoint) {
  .main-board {
    .main-info{
      height: 361px;
    }
  }
}
