@import "../../styles/variables";
@import "../../styles/container";

.favorit-item-main {
  padding: 0 10px;
  position: relative;
}

.favorit-list-main {
  position: relative;
}

.favorit-list-main-arrow::after {
  width: 400px;
  overflow: hidden;
  height: 20px;
  flex-flow: wrap;
}

.favorite-list {
  position: relative;
}

.favorit-list-additional {
  width: auto;
  height: auto;
  position: absolute;
  top: 65px;
  padding: 10px;
  margin-left: -19px;
  background-color: $light-background-color;
  border: 1px solid $light-text-color;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: none;
  transition: transform 250ms ease;
}

.favorit-item-additional {
  width: 250px;
  height: 40px;
  padding: 20px;
  background-color: $light-background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favorit-list-main {
  display: flex;
}

.favorit-item-main-star {
  position: relative;
  left: -10px;
}

.light-mode {
  fill: $light-text-color;
}

.dark-mode {
  fill: $dark-text-color;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: $desktop-breakpoint) {
  .favorit-item-main-mobile {
    display: none;
  }
}

@media screen and (max-width: $before-tablet-breakpoint) {
  .favorit-item-additional {
    width: 200px;
  }
}

@media screen and (max-width: 580px) {
  .favorit-list-additional {
    left: 50%;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .favorit-item-additional {
    width: 200px;
    padding: 10px;
  }

  .favorit-list-additional {
    left: 25%;
  }
}
